* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

/*
  Font & Font-Families
*/

@font-face {
  font-family: oswald-light;
  src: url("../fonts/Oswald-Light.ttf");
}

@font-face {
  font-family: caligraphy;
  src: url("../../fonts/Nathalia.ttf");
}

@font-face {
  font-family: quote-font;
  src: url("../../fonts/Montserrat-LightItalic.ttf");
}

@font-face {
  font-family: oswald-regular;
  src: url("../../fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: open-sans-li;
  src: url("../../fonts/OpenSans-LightItalic.ttf");
}


body{
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #FFF;

}

nav {
  background-color: #81d4fa;
  width:100vw;
  height:10vh;
}

header{
  position: absolute;
  left: 0;
	right: 0;
	margin: 1em;
  text-align: center;
}

h1 {
  font-family:caligraphy;
  font-size: 5rem;
}

h2 {
  font-family:caligraphy;
  font-size:3.5rem;
  text-shadow: 2px 2px 5px #81d4fa;
}

#patient {
  width:250px;
  height:50px;
  border:none;
  border-bottom: 2px solid black;
}

#patient:focus {
  outline:none;
  border-bottom: 2px solid #81d4fa;
}

.container {
  margin: 0 auto;
  width: 600px;
	min-height: 700px;
	border-top: 10px solid #81d4fa;
	border-left: 5px solid #81d4fa;
	border-right: 5px solid #81d4fa;
	border-bottom: 10px solid #81d4fa;
  border-radius: 25px;
	box-shadow: 15px 20px #8888;
}
textarea {
	outline:none;
	text-decoration: none;

}

input {
  font-size:18px;
  width: 250px;
  height: 30px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
}

input:focus,select:focus {
      outline: none;
      border-bottom: 2px solid #81d4fa;
}

button {
  border: none;
  width: 150px;
  height: 50px;
  background-color: #81d4fa;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
	margin-left: 20px;
}

button:focus {
  outline: none;
  background-color: #b3e5fc;
}

i {
	padding-right: 10px;
}

span {
	font-family: sans-serif;
	color: white;
	font-size:18px;
}

.info {
	top: 3vh;
	right: 0;
	position:absolute;
}

.visit table{
	margin: 0 auto;
	border-collapse: collapse;
}
table, td {
	border: 1px solid #81d4fa;
}

table th {
	color:white;
	border:1px solid white;
	background-color: #81d4fa;
	padding: 5px 50px;
}

.pat-info {
	text-align:center;
}
